.container {
  width: 1200px;
  min-width: 1200px;
  position: relative;
  z-index: 0;
  margin: 50px auto;
}

.container::after {
  content: "";
  clear: both;
  display: block;
}

.align {
  float: left;
  width: 300px;
  margin: 0 100px;
}

.align>ul>li {
  font-size: 1.5rem;
  font-family: 'GangwonEduPowerExtraBoldA';
  margin-bottom: 20px;
}

.align_2 {
  margin: 50px 0;
}

.align_2 > a {
  font-size: 1.3rem;
  font-family: 'KIMM_Bold';
  color: black;
}

.content {
  float: left;
  width: 600px;
}

.step {
  color: rgb(131, 122, 117);
}

h1{
  font-size: 3rem;
  font-family: 'GangwonEduPowerExtraBoldA';
  margin-top: 20px;
}

.content li{
  margin-top: 20px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.content img{
  width: 45px;
}

.content span{
  margin-left: 20px;
}

.join_start{
  position: relative;
}

.join_start div{
  position: absolute;
  top: -20px;
  left: 50px;
}

.join_start img{
  display: block;
  margin-top: 24px;
}

.join {
  font-size: 5rem;
  font-family: 'GangwonEduPowerExtraBoldA';
  color: rgb(231, 147, 74);
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
  margin-top: 50px;
}

.join_start a{
  color: black;
}

.naver{
  background-color: rgb(57, 205, 0);
}

.kakao{
  background-color: rgb(255, 235, 60);
}

.apple{
  border: 1px solid lightgray;
}

.facebook{
  background-color: rgb(59, 89, 153);
}

.judy{
  border: 1px solid lightgray;
}

#imlab{
  text-align: center;
  margin: 50px 0;
  font-size: small;
}