.container {
  width: 1200px;
  min-width: 1200px;
  z-index: 0;
  margin: 50px auto;
}

.container::after {
  content: "";
  clear: both;
  display: block;
}

.align {
  float: left;
  width: 300px;
  margin: 0 100px;
}

.align>ul>li {
  font-size: 1.5rem;
  font-family: 'GangwonEduPowerExtraBoldA';
  margin-bottom: 20px;
}

.align>ul>li>a{
  color: black;
}

.align_2 {
  margin: 50px 0;
}

.align_2 > a {
  font-size: 1.3rem;
  font-family: 'KIMM_Bold';
  color: black;
}

.content {
  float: left;
  width: 700px;
}

.step {
  color: rgb(131, 122, 117);
}

.login {
  font-size: 3rem;
  font-family: 'GangwonEduPowerExtraBoldA';
  margin-top: 20px;
}

.welcome {
  font-size: 5rem;
  font-family: 'GangwonEduPowerExtraBoldA';
  color: rgb(231, 147, 74);
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
  margin-top: 50px;
}

.comment {
  font-size: 1.2rem;
  color: rgb(131, 122, 117);
  margin-top: 20px;
}

.in_ID,
.in_PW {
  width: 110px;
  display: inline-block;
}

.inputLogin {
  width: 220px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid lightgray;
}

.mar_b_10 {
  margin-bottom: 10px;
}

.btnLogin {
  display: inline-block;
  width: 80px;
  height: 70px;
  line-height: 70px;
  border: none;
  border-radius: 2px;
  background-color: rgb(231, 147, 74);
  text-align: center;
  cursor: pointer;
}

.btn_type1 {
  border: none;
  display: inline-block;
  background-color: rgb(231, 147, 74);
  color: white;
  cursor: pointer;
}

.loginBox ul {
  position: relative;
  width: 430px;
  margin-top: 50px;
}

.btnLogin {
  position: absolute;
  top: 0;
  right: 0;
}

.check_id {
  clear: left;
  padding-left: 115px;
  margin-bottom: 30px;
}

.h_b_back1 {
  height: 150px;
  background: url(images/icon_id.png) 50px top no-repeat;
}

.h_b_back2 {
  background: url(images/icon_password.png) 50px top no-repeat;
}

.h_b_back3 {
  background: url(images/icon_join.png) 50px top no-repeat;
}

.help_box ul {
  float: left;
  width: 210px;
  margin: 30px 10px;
  padding: 110px 0 0 0;
}

.help_box {
  border-top: 1px solid rgb(131, 122, 117);
}

.help_box>ul>li:nth-child(1) {
  font-weight: bolder;
}

.help_box>ul>li:nth-child(2) {
  font-size: small;
}

.help_box>ul>li {
  margin: 10px 0;
}

.help_box>ul>li:last-child {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-left: 50px;
  background-color: rgb(181, 182, 173);
  border: none;
  border-radius: 5px;
}

.help_box>ul>li>a {
  color: white;
}