.main, .main2, .main3{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  min-width: 1070px;
}

.main{
  min-width: 1200px;
  z-index: 0;
}

/* slider */
#wrapper{
  float: left;
	width:600px;
	margin:10px 0 50px 0;
	height:400px;
	color:#fff;
	text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;	
}

#slider-wrap{
	width:600px;
	height:400px;
	position:relative;
	overflow:hidden;
}

#slider-wrap ul#slider{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;		
}

#slider-wrap ul#slider li{
	float:left;
	position:relative;
	width:600px;
	height:400px;	
}

#slider-wrap ul#slider li > div{
	position:absolute;
	bottom:50px;
	right:30px;
  text-align: right;
}

#slider-wrap ul#slider li > div h3{
	font-size:36px;
	text-transform:uppercase;	
}

#slider-wrap ul#slider li > div span{
	font-family: Neucha, Arial, sans serif;
	font-size:21px;
}

#slider-wrap ul#slider li img{
	display:block;
	width:100%;
  height: 100%;
}

/* slider btns */
.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;	
	z-index:100;
	transition: all 0.1s ease;
}

#next{
  right:-50px; border-radius:7px 0px 0px 7px;
}

#previous{
  left:-50px; border-radius:0px 7px 7px 7px;
}

#counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}

/* slider bar */
#pagination-wrap{
	min-width:20px;
	margin-top:350px;
	margin-left: auto; 
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:7px;
	height:7px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  top:0;
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}

/* slider animation */
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}


/* video */
.video_wrapper{
  float: left;
  margin: 10px 0 50px 50px;
  position: relative;
}

.video_wrapper video{
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.video_content{
  border: 5px solid white;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 38%;
  left: 20%;
  font-family:'GangwonEduPowerExtraBoldA';
  color: white;
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
  opacity: 0.8;
}

.main::after{
  content: '';
  display: block;
  clear: both;
}

.main2, .main3{
  text-align: center;
}

.menu_wrapper, .menu_wrapper2{
  display: flex;
  width: 1150px;
  height: 400px;
  padding-left: 100px;
}

.menu_wrapper{
  background-color: rgb(231, 147, 74);
}

.menu_wrapper2{
  margin-top: 50px; 
  background-color: rgba(163, 211, 66, 0.7);
}

.menu_wrapper > img:nth-of-type(2){
  right: 500px;
  bottom: 0;
  z-index: 0;
  opacity: 0.7;
}

.main2 img, .main3 img{
  transition: .8s ease;
}

.main2 *, .main3 *{
  color: white;
  text-shadow: rgba(0,0,0,0.1) 7px 7px 0px;
  font-family:'GangwonEduPowerExtraBoldA';
}

.main2 h1, .main3 h1{
  margin-top: 40px;
  font-size: 60px;
}

.main2 h2, .main3 h2{
  margin-top: 10px;
  font-size: 40px;
}

.main2 p, .main3 p{
  margin-top: 10px;
  font-size: 20px;
}

.main2 img:hover, .main3 img:hover{
  transform: scale(1.1);
}

/* FRANCHISE, STORE, GIFT CARD */
.main4{
  position: relative;
  width: 100%;
  max-width: 1280px;
  min-width: 1070px;
  margin: 50px auto;
}

.info_wrapper{
  margin: 0 auto;
  width: 95%;
  height: 200px;
}

.f_s_wrap{
  float: left;
  width: 60%;
  height: 200px;
}

.franchise{
  float: left;
  width:30%;
  height: 200px;
  border: 3px solid rgb(231, 147, 74);
  padding-left: 10px;
  margin-right: 5px;
  position: relative;
}

.franchise img{
  position: absolute;
  right: 20px;
  opacity: 0.7;
}

.search{
  float: left;
  position: relative;
  width:30%;
  height: 200px;
  border: 3px solid rgb(231, 147, 74);
  padding-left: 10px;
  position: relative;
}

.franchise h1, .search h1{
  color: rgb(231, 147, 74);
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
  margin-top: 5px;
  font-family: inherit;
}

.search input{
  width: 90%;
  height: 40px;
  padding-left: 5px;
  /* margin-top: 5px; */
  font-family: inherit;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.search button{
  position: absolute;
  background: none;
  cursor: pointer;
  border: 0;
  right: 20px;
  bottom: 25px;
}

.franchise h4, .search h4{
  color: rgb(117, 116, 116);
}

.card{
  float:right;
  width: 39%;
  height: 200px;
  position: relative;
  background-image: url('images/image_cardBackground.jpg');
  background-size: 100%;
  padding: 10px;
}

.card img{
  position: absolute;
}

.card > p{
  color: rgb(231, 147, 74);
  font-family: inherit;
  font-weight: 700;
  margin-top: 8%;
}

.card h2, .card h4{
  color: white;
  font-family:'GangwonEduPowerExtraBoldA';
}

.card h2{
  margin: 10px 0;
}

.card div{
  position: absolute;
  width: 250px;
  height: 140px;
  background-color: rgba(231, 147, 74, 0.7);
  /* opacity: 0.5; */
  top: 14%;
  right: 10px;
  font-size: 32px;
  text-align: center;
  line-height: 140px;
  border-radius: 5px;
}

.card div img{
  opacity: 0.3;
  bottom: 30px;
  right: 80px;
}

.card div p{
  color: white;
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
  font-family: inherit;
  font-weight: 700;
}

/* SNS */
.main5{
  position: relative;
  width: 100%;
  min-width: 1070px;
  text-align: center;
  font-family: 'TAEBAEKmilkyway';
}

.sns_wrapper{
  margin: 0 auto;
  width: 95%;
  height: 200px;
  border-bottom: 1px solid darkgray;
}

.main5 h2{
  color: black;
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
}

.main5 h4{
  color: darkgray;
  margin: 15px 0;
}

.main5 img{
  float: center;
  margin-right: 10px;
}


/* 미디어쿼리 */
/* @media screen and (min-width:1290px) {
  .main{
    left:25%;
  }
  .main2{
    left: 25%;
  }
  .main3{
    left: 25%;
  }
  .main4{
    left:25%
  }
} */
