.main_ns{
  text-align: center;
  padding-top: 10px;
  /* position: relative; */
}

.main_ns > .headline{
  height: 70px;
  line-height: 70px;
  font-size: 3rem;
  font-family: inherit;
  font-style: italic;
  /* font-family: 'Cafe24Ssurround'; */
  background-color: rgb(243, 78, 78);
  text-shadow: rgba(0,0,0,0.4) -7px 7px 1px;
  color: white;
  margin-bottom: 30px;
}

.map_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 1200px;
  /* background-color: rgb(233, 186, 144); */
}

.store_list{
  /* border: 1px solid black; */
  border-radius: 5%;
  width: 300px;
  height: 400px;
  padding-top: 30px;
  position: relative;
  background-color: lightgoldenrodyellow;
  box-shadow: rgba(0,0,0,0.3) 2px 2px 0px;

}

.store_list > img{
  position: absolute;
  width: 60px;
  transform: rotate(-20deg);
  top: 0;
  left: 0;
}

.store_list > ul:nth-of-type(1){
  height: 60px;
  line-height: 60px;
  color: orange;
  font-family: 'GangwonEduPowerExtraBoldA';
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
  font-size: 1.3rem;
}
.store_list > ul:last-child{
  height: 50px;
  line-height: 50px;
  color: darkgray;
}

.model{
  margin-left: 100px;
  margin-right: 50px;
}

figure{
  position: relative;
}

figure figcaption{
  position: absolute;
  bottom: 50px;
  left: 350px;
  font-size: small;
  color: darkgray;
  z-index: 100;
}

/* .map_container > div:nth-of-type(2){
  position: relative;
} */
.map_wrapper{
  width: 450px;
  height: 470px;
  position: relative;
}
.map_before{
  position: absolute;
  top: 0;
  left: 0;
  /* left: 56.1%; */
}
.map_after{
  position: absolute;
  top: 0;
  left: 0;
  /* bottom: 4px; */
  /* top: 5px; */
}


@keyframes effect{
  50% {
    opacity: 0;
  }
}
.c_b_t{
  animation: effect 1s step-end infinite;
}



.store_wrap{
  width: 1200px;
  min-width: 1200px;
  height: 700px;
  position: relative;
  margin: 50px auto;
}

#harf_circle{
  width: 50%;
  height: 80%;
  border: 1px solid black;
  border-left: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  float: left;
  text-align: left;
}

#harf_circle > img{
  margin: 0 auto;
}

#harf_circle > h1, #harf_circle > h3{
  font-family: 'GangwonEduPowerExtraBoldA';
}

#harf_circle > h1{
  font-size: 2.7rem;
  /* margin: 30px 0; */
}

#harf_line{
  width: 50%;
  height: 60%;
  border-bottom: 1px solid black;
  float: left;
  align-items: center;
}

.store_wrap > img{
  position: absolute;
  width: 300px;
}

#img_cafe{
  width: 200px;
  top: 20px;
  left: 400px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 1;
  margin: 10px;
}

#img_cappuccino{
  top: 340px;
  left: 400px;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  z-index: 1;
}

#img_cf_machine{
  top: 25px;
  left: 620px;
  border-top-right-radius: 50%;
  z-index: 0;
}

#img_cfshop{
  top: 240px;
  left: 620px;
  z-index: 0;
}

.inquiry_wrap{
  width: 100%;
  min-width: 1200px;
  height: 600px;
  /* position: absolute; */
  background-color: rgb(250, 250, 237);
  /* color: lightgray; */
  padding-top: 10px;
}

.inquiry_wrap > h1{
  color: orange;
  font-family: 'GangwonEduPowerExtraBoldA';
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
  margin-top: 10px;
}

.benefit{
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: 'GangwonEduPowerExtraBoldA';
  /* opacity: 0; */
}

.benefit li{
  width: 23%;
  margin: 1%;
  height: 15em;
  border: 0.6em solid orange;
  border-bottom-right-radius: 15%;
  box-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.benefit > li > h1{
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  left: 0;
  top: 0;
  color: orange;
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
  background-color: rgb(250, 250, 237);
  transform: translate(-30%, -30%);
}

.benefit h2{
  margin: auto;
  font-size: 1.7rem;
  color: rgba(128, 74, 28,0.7);
}

.benefit span{
  font-size: 2rem;
  color: orange;
}

.benefit p{
  font-size: 1rem;
  color: rgba(128, 74, 28,0.7);
}

.promotion > *{
  font-family: 'KIMM_Bold';
  margin-top: 10px;
}
.promotion{
  margin: 20px auto;
  width: 80%;
  background-color: rgba(128, 74, 28,0.7);
  color: white;
  position: relative;
  height: 40%;
  padding-top: 30px;
}

.promotion ul{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 10px;
  transform: translate(0, -15px);
  background-color: rgba(255, 165, 0, 0.7);
  border-radius: 0.3em;
  width: 25%;
  height: 40px;
  line-height: 40px;
}

.promotion ul li{
  margin-right: 10px;
}

.promotion > h1 > span{
  color: rgb(128, 74, 28);
  font-family: 'GangwonEduPowerExtraBoldA';
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;
  margin: 0 10px;
}

.promotion > h2{
  margin: 10px 0;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.promotion h2 p{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3em;
  width: 30%;
  /* margin: 0 10px; */
  font-size: 1rem;
  position: absolute;
}


.promotion h2 p:nth-of-type(1){
  left: 20px;
}
.promotion h2 p:nth-of-type(2){
  left: 30%;
}
.promotion h2 p:last-of-type{
  width: 40%;
  right: 20px;
}

.promotion > p > span{
  font-size: small;
}

@keyframes effect_Y{
  0%{
    transform: translateY(20px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.animatable{
  visibility: hidden;
  animation-play-state: paused;
}

.animated{
  animation-name: effect_Y;
  visibility: visible;
  animation-fill-mode: both;
  animation-duration: 0.6s;
  animation-play-state: running;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  /* animation-fill-mode: forwards; */
}

@media screen and (min-width:1290px) {
  .main{
    left:25%;
  }
  .main2{
    left: 25%;
  }
  .main3{
    left: 25%;
  }
  .main4{
    left:25%
  }
}